.profile__info {
  margin-right: auto;
  margin-left: 30px;
  display: grid;
  gap: 7px 18px;
  grid-template-areas: 
    "name edit-button"
    "description description";
}

@media screen and (max-width: 618px) {
  .profile__info {
    text-align: center;
    margin: 0 auto 33px;
    grid-template-areas: 
      ". name edit-button"
      "description description description";
    gap: 5px 5px;
  }
}