.footer__text {
  color: rgba(84, 84, 84, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 618px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}
