.footer {
  margin: 67px auto 0;
  padding-bottom: 60px;
  max-width: min(880px, calc(100% - 2 * 19px));
}

@media screen and (max-width: 618px) {
  .footer {
    margin-top: 48px;
    padding-bottom: 36px;
  }
}