.popup__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 8px 8px;
  margin: 0 auto;
}

@media screen and (max-width: 618px) {
  .popup__container {
    gap: 0;
  }
}